.display-flex {
    display: flex !important;
}

.display-none {
    display: none !important;
}

.image-preview img{
    width: 100%!important;
    height: 100%!important;
}
a.text-link {
    color: #333333;
}

a.text-link:visited {
    color: #333333;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

